.tempc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  border-top: 2px solid black;
  padding: 30px;
}

.tempc ul {
  list-style: none;
  width: 70%;
}
.tempc ul li {
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  padding: 14px;
  background-color: black;
  border: 2px solid black;
  margin-bottom: 10px;
  font-weight: bolder;
  border-radius: 30px;
}

.tempc ul li:hover {
  background-color: grey;
}

.del:hover {
  cursor: pointer;
  background-color: blue;
}
