.homepagebuttonind {
  color: aliceblue;
  background-color: black;
  outline: none;
  border: none;
  width: 20%;
  height: 70px;
  font-size: 25px;
  /* border-radius: 40px; */
  font-weight: bold;

  /* border-right: 1px solid wheat; */
}
.homepagebuttonind:hover {
  cursor: pointer;
  font-size: 30px;
  font-weight: bolder;
  color: black;
  background-color: white;
}
/* .homepagebuttons {
  background-color: #404040;
  min-height: 100vh;
} */
