* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}
.maindiv {
  background-color: #404040;
  width: 100%;
  min-height: 100vh;

  /* position: relative; */
}
.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.8);
  padding: 100px;
  border-radius: 100px;
}

.box h1 {
  color: aliceblue;
  text-align: center;
  margin-bottom: 30px;
}

.grp input {
  width: 100%;
  padding: 14px;
  font-size: 20px;
  border: none;
  border-radius: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid;
  outline: none;
}

.box label {
  color: aliceblue;
  display: inline-block;
  margin-bottom: 10px;
}
.box input[type="submit"] {
  background: #404040;
  color: aliceblue;
  border: none;
  outline: none;
  width: 150px;
  padding: 20px 10px;
  border-radius: 20px;
}
.box input[type="submit"]:hover {
  background: black;
}
p {
  color: aliceblue;
}
